<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch - Premium Store</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div>
        <% if (messages.success) { %>
            <% messages.success.forEach(function(msg) { %>
                <div class="fixed top-5 right-5 p-2 rounded z-50 bg-green-500 text-white text-sm">
                    <%= msg %>
                </div>
                <% }); %>
                    <% } %>

                        <% if (messages.error) { %>
                            <% messages.error.forEach(function(msg) { %>
                                <div class="fixed top-5 right-5 p-2 rounded z-50 bg-red-500 text-white text-sm">
                                    <%= msg %>
                                </div>
                                <% }); %>
                                    <% } %>
    </div>

</body>

</html>