<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .text-galaxy {
            background: url('https://media.istockphoto.com/id/157639696/photo/purple-space-stars.jpg?s=612x612&w=0&k=20&c=fkLtGZxUS9UPlLJUTeGjvvURT0u-vtxvj5sAYbDNrH4=');
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>
</head>

<body class="bg-white flex items-center justify-center h-screen">
    <div class="text-center px-4">
        <h1 class="text-7xl sm:text-9xl font-bold text-galaxy">Oops!</h1>
        <p class="text-xl sm:text-2xl mt-4">404 - Page Not Found</p>
        <p class="mt-2 text-gray-600">The page you are looking for might have been removed, had its name changed, or is
            temporarily unavailable.</p>
        <a href="/" class="mt-6 inline-block bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-blue-700">Go to
            Homepage</a>
    </div>
</body>

</html>