<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-50">
    <div class="text-center">
        <div class="mt-10">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto text-gray-600" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.586 4.707 10.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l9-9z"
                    clip-rule="evenodd" />
            </svg>
            <h1 class="mt-4 text-2xl font-semibold text-gray-800">Payment Successful!</h1>
            <p class="mt-2 text-gray-600">Your payment has been completed.</p>
        </div>
        <div class="mt-8">
            <a href="/user"
                class="w-full inline-block px-4 py-2 text-white bg-purple-600 rounded-md hover:bg-purple-700">Finish</a>
        </div>
        <div class="flex justify-center items-center mt-10 text-sm text-gray-400">
            <span>Secure payments</span>
            <span>Powered by <a href="https://stripe.com/in" class="text-gray-500">Stripe</a></span>
        </div>
        <div class="flex justify-center mt-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSl9ocPcxWPkAh802-KzJNUVahlt56ZUPQgQ&s"
                alt="Stripe Logo" class="h-8">
        </div>
    </div>
</body>

</html>